In [3]:
import pandas as pd

In [4]:
fpath = "/Users/imac/Desktop/asset_hour.xlsx"

In [5]:
excel = pd.read_excel(fpath)

In [6]:
excel.head()

      今日  昨日  上周同期  日环比  周同比
出借总额 NaN NaN   NaN  NaN  NaN
新筹   NaN NaN   NaN  NaN  NaN
U1-新 NaN NaN   NaN  NaN  NaN
U1   NaN NaN   NaN  NaN  NaN
U3   NaN NaN   NaN  NaN  NaN

In [8]:
excel.shape

(38, 5)

In [9]:
excel.columns

Index(['今日', '昨日', '上周同期', '日环比', '周同比'], dtype='object')

In [10]:
excel.index

Index([               '出借总额',                  '新筹',                'U1-新',
                        'U1',                  'U3',                  'U6',
                       'U12',                 'U24',                 'U36',
                        '优选',                  '薪享',                  '散标',
                      '债权转让',                  '转投',                  'U6',
                       'U12',                 'U24',                 'U36',
                        '人数',               '人均（元）',                  '久期',
                    '核心产品占比',              '转固定期总额',                '自由期内',
                       '1个月',                 '3个月',                 '6个月',
                      '12个月',                 '至结束',                '固定期内',
                       '6个月',                '12个月',                '24个月',
                        '人数',               '人均（元）',                  '久期',
                         nan, '2020-07-17 11:00:00'],
      dtype='object')

In [11]:
excel.dtypes

今日      float64
昨日      float64
上周同期    float64
日环比     float64
周同比     float64
dtype: object

In [13]:
excel.head()

      今日  昨日  上周同期  日环比  周同比
出借总额 NaN NaN   NaN  NaN  NaN
新筹   NaN NaN   NaN  NaN  NaN
U1-新 NaN NaN   NaN  NaN  NaN
U1   NaN NaN   NaN  NaN  NaN
U3   NaN NaN   NaN  NaN  NaN

In [19]:
fpath = '/Users/imac/Desktop/ant-learn-pandas/datas/crazyant/access_pvuv.txt'

In [20]:
pvuv = pd.read_csv(fpath,
           sep = "\t",
           header = None,
           names = ["pdate","pv","uv"])

In [21]:
pvuv

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [22]:
fpath = '/Users/imac/Desktop/ant-learn-pandas/datas/crazyant/access_pvuv.xlsx'

In [23]:
pd.read_excel(fpath)

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [25]:
import pymysql

In [26]:
 conn = pymysql.connect(host='127.0.0.1',user = 'root',password = '123456',database = 'test',charset = 'utf8')

In [27]:
pd.read_sql("select * from crazyant_pvuv",con=conn)

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61